<link href="/css/styles.css" rel="stylesheet">
<footer>
    <section class="row row-cols-3 mb-3 border-bottom border-secondary p-2">
        <article class="col d-flex flex-column jutify-content-cente align-items-center">
            <h5>Redes sociales</h5>
            <section>

            <a class="text-decoration-none">
                <span class="badge text-bg-primary ">Facebook</span>
            </a>
            <a class="text-decoration-none">
                <span class="badge text-bg-primary ">Twitter</span>
            </a>
            <a class="text-decoration-none">
                <span class="badge text-bg-primary ">Instagram</span>
            </a>
            </section>
        </article>
        <article class="col d-flex flex-column jutify-content-cente align-items-center">
            <a class="text-decoration-none fw-bold text-black">Términos y condiciones</a>
            <a class="text-decoration-none fw-bold text-black">Política de Privacidad</a>
        </article>
        <article class="col d-flex flex-column jutify-content-cente align-items-center ">
            <a class="text-decoration-none fw-bold text-black">Nosotros</a>
            <a class="text-decoration-none fw-bold text-black">Contacto</a>
        </article>
    </section>
    <section class="grid blockquote-footer text-white text-center">
        © 2023 Todos los derechos reservados
    </section>
</footer>